@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800&display=swap');

:root {    
    --bg-gradient:linear-gradient(90deg, #0A0E17 10.11%, #0b1627 97.23%);
    --bg-primary: #0A0E17;
    --bg-secondary: #ffffff;
    --text-primary: #ffffff;
    --text-secondary: #99C0D2;
    --font-primary: 'Recursive', sans-serif;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
}

.highlight {
    color: var(--text-secondary);
}

.hero-section {
    height: 100%;
    background: var(--bg-gradient);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-inline: 30px;
}

.logo {
    width: 130px;
    height: 27px;
    flex-shrink: 0;
}

.hero-container {
    margin-inline: 50px;
    max-width: 300px;
    color: var(--text-primary);
}

.hero-title {
    margin-top: 15px;
    margin-inline: auto;
    font-family: Recursive;
    font-size: 64px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
}

.hero-description {
    margin-top: 20px;
    font-family: Recursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}

.form-section {
    background-image: url('./assets/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    padding: 5%;
    border-radius: 10px;
    background: rgba(254, 254, 254, 0.93);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.10);
}

.form-title{
    color: black;
    font-family: Recursive;
    font-size: 42px;
    font-weight: 500;
    }

.submit-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0A0E17;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    width: 40%;
    margin-left: 60%;
    font-family: Recursive;
    cursor: pointer;  
}

.name-box, .comment-box{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid #978E8E;
    background: rgba(217, 217, 217, 0.00);
}
.comment-box{
    min-height: 60px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}

.form-input{
    margin: 15px 0px;
}

.emojis{
    margin-top: 15px;
    font-size: 40px;
    background: transparent;
    border: none;
    margin-right: 15px ;
    cursor: pointer;
}

/* .hidden{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 500px;
    height: 545px;
    padding: 5%;
    border-radius: 10px;
    background: rgba(254, 254, 254, 0.93);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.10);
} */
